html {
    margin: 0;
    min-height: 100%;
}

body {
    min-height: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background: url(images/freenaturestock-2155.jpg) center center fixed;
    background-size: cover;
    color: white;
    overflow-y: hidden;
}

#header{
    text-align: center;
    font-size: 5vw;
}

#lap{
    text-align: right;
    font-size: 3vw;
}

#time{
    text-align: center;
    font-size: 6vw;
}

#controlsContainer {
    margin-bottom: 100px;
}

.control {
    color: white;
    background-color:rgb(196, 254, 4);
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
    text-align: center;
    padding: 20% 0;
    font-size: 2.5vw;
    cursor: pointer;
}

.control:active{
    background-color: white;
    color:rgb(196, 254, 4);
}

#laps{
    max-height: 100vh;
    overflow-y: scroll;
    
}

#laps::-webkit-scrollbar{
    display: none;
} 
#laps::-moz-scrollbar{
    display: none;
} 

.lap{
    height: 50px;
    border-bottom: 1px solid white;
    margin: 15px;
}

.laptimetitle{
    font-size: 1.5em;
    float: left;
}

.laptime {
    font-size: 2em;
    float: right;
}

@media (max-width: 480px){
    #header{
        text-align: center;
        font-size: 10vw;
    }
    
    #lap{
        text-align: right;
        font-size: 7vw;
    }
    
    #time{
        text-align: center;
        font-size: 15vw;
    }
    
    #controlsContainer {
        margin-bottom: 100px;
    }
    
    .control {
        color: rgb(18, 8, 8);
        background-color:rgb(196, 254, 4);
        height: 25vw;
        width: 25vw;
        border-radius: 100%;
        text-align: center;
        padding: 40% 0;
        font-size: 3.5vw;
        cursor: pointer;
    }
}
